doctype 5
html(lang="en", ng-app)
	head
		title pageTitle
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
		script(type='text/javascript', src='/javascripts/index.js')
		link(rel='stylesheet', href='/stylesheets/index.css')
	body
		form.search
			input
			button(type submit) search

