doctype 5
html(lang="en")
    head
        title pageTitle
        script(type='text/javascript', src='/javascripts/index.js')
        link(rel='stylesheet', href='/stylesheets/index.css')
    body
        div.app
            form.search()
                input(placeholder='Paste youtube url or videoId here')
                button(type=submit) Start
            div.app__content
