.search
{
	height: 30px;
    width: 640px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}
.search input
{
    height: 100%;
	box-sizing: border-box;
	margin: 0;
    width: 580px;
    font-family: arial, sans-serif;
    font-size: 16px;
    position: absolute;
	border: 1px solid #B3B3B3;
	border-right: none;
	outline: none;
    padding: 0 10px;
	color: #222;
	font: 16px arial,sans-serif;
}
.search button
{
	width: 60px;
	height: 100%;
	color: white;
    float: right;
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	border: none;
	border-radius: 2px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
    outline: none;
}
.app__content
{
    margin-top: 7px;
}

.app.room .search
{
    position: relative;
    margin: 0;
}

.player__over
{
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 1000px;
    background: red;
    opacity: 0.1;
}
